@import '../../styles/colors';

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 315px;
  height: 360px;
  border: 1px solid $grey200;
  border-radius: 12px;
  background-color: $white;

  @media (max-width: 1024px) {
    border: none;
    width: auto;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .filters_caption {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: $black;
    }

    .reset_item {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      &:hover>span {
        color: $blue400;
      }

      &:hover * {
        stroke: $blue400;
      }

      &:active>span {
        color: $blue500Main;
      }

      &:active * {
        stroke: $blue500Main;
      }

      .reset_caption {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $grey500;
      }
    }
  }

  .title {
    padding-bottom: 20px;

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $black;
    }
  }

  .button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    background: $blue500Main;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $white;

    &:hover {
      background: $blue400;
    }

    &:active {
      background: $blue600;
    }
  }
}