@import '../../styles/colors';

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  height: 48px;
  background: $white;
  border: 1px solid $grey200;
  border-radius: 8px;
  margin-bottom: 16px;

  @media (max-width: 400px) {
    height: 40px;
  }

  &:focus-within {
    border-color: $blue500Main;
  }

  .search {
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  input {
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    outline: none;
    border: none;
    padding-left: 8px;

    @media (max-width: 400px) {
      font-weight: 300;
      font-size: 13px;
    }

    &::placeholder {
      color: $grey500;
    }
  }

  .button {
    width: 83px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    background: $blue500Main;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $white;

    @media (max-width: 450px) {
      width: 75px;
    }

    @media (max-width: 400px) {
      width: 50px;
      font-size: 12px;
      padding: 4px 15px;
      height: auto;
    }

    &:hover {
      background: $blue400;
    }

    &:active {
      background: $blue600;
    }
  }
}