@import '../../styles/colors';

header {
  display: flex;
  align-items: center;
  height: 84px;
  padding: 10px 162px;
  background-color: $white;

  .logo_section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: auto;

    .logo {
      width: 30px;
      height: 30px;
    }

    .logo_text {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: $black;
    }
  }

  .toogle_section {
    display: flex;
    gap: 60px;
    position: absolute;
    width: 275px;
    height: 20px;
    left: calc(50% - 275px/2 + 0.5px);
    top: 32px;


    .text {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $blue500Main;
    }
  }
}