@import '../../../styles/colors';


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  width: 83px;
  height: 32px;
  background: $blue500Main;
  border-radius: 8px;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $white;

  &:hover {
    background: $blue400;
  }

  &:active {
    background: $blue600;
  }
}