@import '../../styles/colors';

.card {
  background: $white;
  border: 1px solid $grey200;
  border-radius: 12px;
  padding: 24px;

  .profession_star {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profession {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    a {
      text-decoration: none;
      color: $blue500Main;

      &:visited {
        color: $blue500Main;
      }
    }
  }

  .salary_and_type {
    margin: 13px 0;

    .salary {
      font-family: 'Inter';
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $black;
    }

    .dot {
      width: 9px;
      height: 21px;
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 20px;
      line-height: 21px;
      text-align: center;
      margin: 12px;
      color: $grey600;
    }

    .type_of_work {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $black;
    }
  }

  .location {
    display: flex;
    align-items: center;

    .location_icon {
      width: 20px;
      height: 20px;
    }

    .town {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black;
      margin-left: 8px;
    }
  }

  .star_container {
    margin-left: 10px;
  }
}